html {
    font-size: min(3vw, 3vh);
}

html, body {
    font-family: "Roboto Serif", serif;
    margin: 0;
    padding: 0;
}

#main-div {
    margin: auto;
    padding: 0.25em 1.5em 0.25em 1.5em;
    box-sizing: border-box;
    width: min(100vw, 100vh);
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: 0.1em;
    padding: 0.1em;
}

#joe-miner-roundabout-image, #joe-miner-roundabout-flier {
    width: 100%;
}